<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/costofrenewablesextraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# import necessary packages

In [ ]:
df = pd.read_csv('lazardextracted.csv')
#import data and convert into a dat q2

In [ ]:
df

                    Type  Year  Mean LCOE
0   Solar PV Crystalline  2009        359
1   Solar PV Crystalline  2010        248
2   Solar PV Crystalline  2011        159
3   Solar PV Crystalline  2012        125
4   Solar PV Crystalline  2013        104
..                   ...   ...        ...
83            Gas Peaker  2015        192
84            Gas Peaker  2016        191
85            Gas Peaker  2017        183
86            Gas Peaker  2018        179
87            Gas Peaker  2019        175

[88 rows x 3 columns]

In [ ]:
df.T
#transpoe

,0,1,2,3,4,5,6,7,8,9,...,78,79,80,81,82,83,84,85,86,87
Type,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,Solar PV Crystalline,...,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker,Gas Peaker
Year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Mean LCOE,359,248,159,125,104,79,64,55,50,43,...,243,227,216,205,205,192,191,183,179,175

In [ ]:
df.T.to_dict

<bound method DataFrame.to_dict of                              0                     1                     2   \
Type       Solar PV Crystalline  Solar PV Crystalline  Solar PV Crystalline
Year                       2009                  2010                  2011
Mean LCOE                   359                   248                   159

                             3                     4                     5   \
Type       Solar PV Crystalline  Solar PV Crystalline  Solar PV Crystalline
Year                       2012                  2013                  2014
Mean LCOE                   125                   104                    79

                             6                     7                     8   \
Type       Solar PV Crystalline  Solar PV Crystalline  Solar PV Crystalline
Year                       2015                  2016                  2017
Mean LCOE                    64                    55                    50

                             9   ...          78          79          80  \
Type       Solar PV Crystalline  ...  Gas Peaker  Gas Peaker  Gas Peaker
Year                       2018  ...        2010        2011        2012
Mean LCOE                    43  ...         243         227         216

                   81          82          83          84          85  \
Type       Gas Peaker  Gas Peaker  Gas Peaker  Gas Peaker  Gas Peaker
Year             2013        2014        2015        2016        2017
Mean LCOE         205         205         192         191         183

                   86          87
Type       Gas Peaker  Gas Peaker
Year             2018        2019
Mean LCOE         179         175

[3 rows x 88 columns]>

In [ ]:
list ( df.T.to_dict().values() ) #list  as values

[{'Type': 'Solar PV Crystalline', 'Year': 2009, 'Mean LCOE': 359},
 {'Type': 'Solar PV Crystalline', 'Year': 2010, 'Mean LCOE': 248},
 {'Type': 'Solar PV Crystalline', 'Year': 2011, 'Mean LCOE': 159},
 {'Type': 'Solar PV Crystalline', 'Year': 2012, 'Mean LCOE': 125},
 {'Type': 'Solar PV Crystalline', 'Year': 2013, 'Mean LCOE': 104},
 {'Type': 'Solar PV Crystalline', 'Year': 2014, 'Mean LCOE': 79},
 {'Type': 'Solar PV Crystalline', 'Year': 2015, 'Mean LCOE': 64},
 {'Type': 'Solar PV Crystalline', 'Year': 2016, 'Mean LCOE': 55},
 {'Type': 'Solar PV Crystalline', 'Year': 2017, 'Mean LCOE': 50},
 {'Type': 'Solar PV Crystalline', 'Year': 2018, 'Mean LCOE': 43},
 {'Type': 'Solar PV Crystalline', 'Year': 2019, 'Mean LCOE': 41},
 {'Type': 'Wind', 'Year': 2009, 'Mean LCOE': 135},
 {'Type': 'Wind', 'Year': 2010, 'Mean LCOE': 124},
 {'Type': 'Wind', 'Year': 2011, 'Mean LCOE': 83},
 {'Type': 'Wind', 'Year': 2012, 'Mean LCOE': 72},
 {'Type': 'Wind', 'Year': 2013, 'Mean LCOE': 70},
 {'Type': 'Wind', 'Year': 2014, 'Mean LCOE': 59},
 {'Type': 'Wind', 'Year': 2015, 'Mean LCOE': 55},
 {'Type': 'Wind', 'Year': 2016, 'Mean LCOE': 47},
 {'Type': 'Wind', 'Year': 2017, 'Mean LCOE': 45},
 {'Type': 'Wind', 'Year': 2018, 'Mean LCOE': 42},
 {'Type': 'Wind', 'Year': 2019, 'Mean LCOE': 40},
 {'Type': 'Gas', 'Year': 2009, 'Mean LCOE': 83},
 {'Type': 'Gas', 'Year': 2010, 'Mean LCOE': 96},
 {'Type': 'Gas', 'Year': 2011, 'Mean LCOE': 95},
 {'Type': 'Gas', 'Year': 2012, 'Mean LCOE': 75},
 {'Type': 'Gas', 'Year': 2013, 'Mean LCOE': 74},
 {'Type': 'Gas', 'Year': 2014, 'Mean LCOE': 79},
 {'Type': 'Gas', 'Year': 2015, 'Mean LCOE': 65},
 {'Type': 'Gas', 'Year': 2016, 'Mean LCOE': 63},
 {'Type': 'Gas', 'Year': 2017, 'Mean LCOE': 60},
 {'Type': 'Gas', 'Year': 2018, 'Mean LCOE': 58},
 {'Type': 'Gas', 'Year': 2019, 'Mean LCOE': 56},
 {'Type': 'Geothermal', 'Year': 2009, 'Mean LCOE': 76},
 {'Type': 'Geothermal', 'Year': 2010, 'Mean LCOE': 107},
 {'Type': 'Geothermal', 'Year': 2011, 'Mean LCOE': 104},
 {'Type': 'Geothermal', 'Year': 2012, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2013, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2014, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2015, 'Mean LCOE': 100},
 {'Type': 'Geothermal', 'Year': 2016, 'Mean LCOE': 98},
 {'Type': 'Geothermal', 'Year': 2017, 'Mean LCOE': 97},
 {'Type': 'Geothermal', 'Year': 2018, 'Mean LCOE': 91},
 {'Type': 'Geothermal', 'Year': 2019, 'Mean LCOE': 91},
 {'Type': 'Coal', 'Year': 2009, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2010, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2011, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2012, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2013, 'Mean LCOE': 104},
 {'Type': 'Coal', 'Year': 2014, 'Mean LCOE': 109},
 {'Type': 'Coal', 'Year': 2015, 'Mean LCOE': 108},
 {'Type': 'Coal', 'Year': 2016, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2017, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2018, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2019, 'Mean LCOE': 109},
 {'Type': 'Nuclear', 'Year': 2009, 'Mean LCOE': 123},
 {'Type': 'Nuclear', 'Year': 2010, 'Mean LCOE': 107},
 {'Type': 'Nuclear', 'Year': 2011, 'Mean LCOE': 95},
 {'Type': 'Nuclear', 'Year': 2012, 'Mean LCOE': 96},
 {'Type': 'Nuclear', 'Year': 2013, 'Mean LCOE': 105},
 {'Type': 'Nuclear', 'Year': 2014, 'Mean LCOE': 112},
 {'Type': 'Nuclear', 'Year': 2015, 'Mean LCOE': 117},
 {'Type': 'Nuclear', 'Year': 2016, 'Mean LCOE': 117},
 {'Type': 'Nuclear', 'Year': 2017, 'Mean LCOE': 148},
 {'Type': 'Nuclear', 'Year': 2018, 'Mean LCOE': 151},
 {'Type': 'Nuclear', 'Year': 2019, 'Mean LCOE': 155},
 {'Type': 'Solar thermal tower', 'Year': 2009, 'Mean LCOE': 168},
 {'Type': 'Solar thermal tower', 'Year': 2010, 'Mean LCOE': 157},
 {'Type': 'Solar thermal tower', 'Year': 2011, 'Mean LCOE': 159},
 {'Type': 'Solar thermal tower', 'Year': 2012, 'Mean LCOE': 174},
 {'Type': 'Solar thermal tower', 'Year': 2013, 'Mean LCOE': 145},
 {'Type': 'Solar thermal tower', 'Year': 2014, 'Mean LCOE': 124},
 {'Type': 'Solar thermal tower', 'Year': 2015, 'Mean LCOE': 150},
 {'Type': 'Solar thermal tower', 'Year': 2016, 'Mean LCOE': 151},
 {'Type': 'Solar thermal tower', 'Year': 2017, 'Mean LCOE': 140},
 {'Type': 'Solar thermal tower', 'Year': 2018, 'Mean LCOE': 140},
 {'Type': 'Solar thermal tower', 'Year': 2019, 'Mean LCOE': 141},
 {'Type': 'Gas Peaker', 'Year': 2009, 'Mean LCOE': 275},
 {'Type': 'Gas Peaker', 'Year': 2010, 'Mean LCOE': 243},
 {'Type': 'Gas Peaker', 'Year': 2011, 'Mean LCOE': 227},
 {'Type': 'Gas Peaker', 'Year': 2012, 'Mean LCOE': 216},
 {'Type': 'Gas Peaker', 'Year': 2013, 'Mean LCOE': 205},
 {'Type': 'Gas Peaker', 'Year': 2014, 'Mean LCOE': 205},
 {'Type': 'Gas Peaker', 'Year': 2015, 'Mean LCOE': 192},
 {'Type': 'Gas Peaker', 'Year': 2016, 'Mean LCOE': 191},
 {'Type': 'Gas Peaker', 'Year': 2017, 'Mean LCOE': 183},
 {'Type': 'Gas Peaker', 'Year': 2018, 'Mean LCOE': 179},
 {'Type': 'Gas Peaker', 'Year': 2019, 'Mean LCOE': 175}]

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
exported_values

[{'Type': 'Solar PV Crystalline', 'Year': 2009, 'Mean LCOE': 359},
 {'Type': 'Solar PV Crystalline', 'Year': 2010, 'Mean LCOE': 248},
 {'Type': 'Solar PV Crystalline', 'Year': 2011, 'Mean LCOE': 159},
 {'Type': 'Solar PV Crystalline', 'Year': 2012, 'Mean LCOE': 125},
 {'Type': 'Solar PV Crystalline', 'Year': 2013, 'Mean LCOE': 104},
 {'Type': 'Solar PV Crystalline', 'Year': 2014, 'Mean LCOE': 79},
 {'Type': 'Solar PV Crystalline', 'Year': 2015, 'Mean LCOE': 64},
 {'Type': 'Solar PV Crystalline', 'Year': 2016, 'Mean LCOE': 55},
 {'Type': 'Solar PV Crystalline', 'Year': 2017, 'Mean LCOE': 50},
 {'Type': 'Solar PV Crystalline', 'Year': 2018, 'Mean LCOE': 43},
 {'Type': 'Solar PV Crystalline', 'Year': 2019, 'Mean LCOE': 41},
 {'Type': 'Wind', 'Year': 2009, 'Mean LCOE': 135},
 {'Type': 'Wind', 'Year': 2010, 'Mean LCOE': 124},
 {'Type': 'Wind', 'Year': 2011, 'Mean LCOE': 83},
 {'Type': 'Wind', 'Year': 2012, 'Mean LCOE': 72},
 {'Type': 'Wind', 'Year': 2013, 'Mean LCOE': 70},
 {'Type': 'Wind', 'Year': 2014, 'Mean LCOE': 59},
 {'Type': 'Wind', 'Year': 2015, 'Mean LCOE': 55},
 {'Type': 'Wind', 'Year': 2016, 'Mean LCOE': 47},
 {'Type': 'Wind', 'Year': 2017, 'Mean LCOE': 45},
 {'Type': 'Wind', 'Year': 2018, 'Mean LCOE': 42},
 {'Type': 'Wind', 'Year': 2019, 'Mean LCOE': 40},
 {'Type': 'Gas', 'Year': 2009, 'Mean LCOE': 83},
 {'Type': 'Gas', 'Year': 2010, 'Mean LCOE': 96},
 {'Type': 'Gas', 'Year': 2011, 'Mean LCOE': 95},
 {'Type': 'Gas', 'Year': 2012, 'Mean LCOE': 75},
 {'Type': 'Gas', 'Year': 2013, 'Mean LCOE': 74},
 {'Type': 'Gas', 'Year': 2014, 'Mean LCOE': 79},
 {'Type': 'Gas', 'Year': 2015, 'Mean LCOE': 65},
 {'Type': 'Gas', 'Year': 2016, 'Mean LCOE': 63},
 {'Type': 'Gas', 'Year': 2017, 'Mean LCOE': 60},
 {'Type': 'Gas', 'Year': 2018, 'Mean LCOE': 58},
 {'Type': 'Gas', 'Year': 2019, 'Mean LCOE': 56},
 {'Type': 'Geothermal', 'Year': 2009, 'Mean LCOE': 76},
 {'Type': 'Geothermal', 'Year': 2010, 'Mean LCOE': 107},
 {'Type': 'Geothermal', 'Year': 2011, 'Mean LCOE': 104},
 {'Type': 'Geothermal', 'Year': 2012, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2013, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2014, 'Mean LCOE': 116},
 {'Type': 'Geothermal', 'Year': 2015, 'Mean LCOE': 100},
 {'Type': 'Geothermal', 'Year': 2016, 'Mean LCOE': 98},
 {'Type': 'Geothermal', 'Year': 2017, 'Mean LCOE': 97},
 {'Type': 'Geothermal', 'Year': 2018, 'Mean LCOE': 91},
 {'Type': 'Geothermal', 'Year': 2019, 'Mean LCOE': 91},
 {'Type': 'Coal', 'Year': 2009, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2010, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2011, 'Mean LCOE': 111},
 {'Type': 'Coal', 'Year': 2012, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2013, 'Mean LCOE': 104},
 {'Type': 'Coal', 'Year': 2014, 'Mean LCOE': 109},
 {'Type': 'Coal', 'Year': 2015, 'Mean LCOE': 108},
 {'Type': 'Coal', 'Year': 2016, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2017, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2018, 'Mean LCOE': 102},
 {'Type': 'Coal', 'Year': 2019, 'Mean LCOE': 109},
 {'Type': 'Nuclear', 'Year': 2009, 'Mean LCOE': 123},
 {'Type': 'Nuclear', 'Year': 2010, 'Mean LCOE': 107},
 {'Type': 'Nuclear', 'Year': 2011, 'Mean LCOE': 95},
 {'Type': 'Nuclear', 'Year': 2012, 'Mean LCOE': 96},
 {'Type': 'Nuclear', 'Year': 2013, 'Mean LCOE': 105},
 {'Type': 'Nuclear', 'Year': 2014, 'Mean LCOE': 112},
 {'Type': 'Nuclear', 'Year': 2015, 'Mean LCOE': 117},
 {'Type': 'Nuclear', 'Year': 2016, 'Mean LCOE': 117},
 {'Type': 'Nuclear', 'Year': 2017, 'Mean LCOE': 148},
 {'Type': 'Nuclear', 'Year': 2018, 'Mean LCOE': 151},
 {'Type': 'Nuclear', 'Year': 2019, 'Mean LCOE': 155},
 {'Type': 'Solar thermal tower', 'Year': 2009, 'Mean LCOE': 168},
 {'Type': 'Solar thermal tower', 'Year': 2010, 'Mean LCOE': 157},
 {'Type': 'Solar thermal tower', 'Year': 2011, 'Mean LCOE': 159},
 {'Type': 'Solar thermal tower', 'Year': 2012, 'Mean LCOE': 174},
 {'Type': 'Solar thermal tower', 'Year': 2013, 'Mean LCOE': 145},
 {'Type': 'Solar thermal tower', 'Year': 2014, 'Mean LCOE': 124},
 {'Type': 'Solar thermal tower', 'Year': 2015, 'Mean LCOE': 150},
 {'Type': 'Solar thermal tower', 'Year': 2016, 'Mean LCOE': 151},
 {'Type': 'Solar thermal tower', 'Year': 2017, 'Mean LCOE': 140},
 {'Type': 'Solar thermal tower', 'Year': 2018, 'Mean LCOE': 140},
 {'Type': 'Solar thermal tower', 'Year': 2019, 'Mean LCOE': 141},
 {'Type': 'Gas Peaker', 'Year': 2009, 'Mean LCOE': 275},
 {'Type': 'Gas Peaker', 'Year': 2010, 'Mean LCOE': 243},
 {'Type': 'Gas Peaker', 'Year': 2011, 'Mean LCOE': 227},
 {'Type': 'Gas Peaker', 'Year': 2012, 'Mean LCOE': 216},
 {'Type': 'Gas Peaker', 'Year': 2013, 'Mean LCOE': 205},
 {'Type': 'Gas Peaker', 'Year': 2014, 'Mean LCOE': 205},
 {'Type': 'Gas Peaker', 'Year': 2015, 'Mean LCOE': 192},
 {'Type': 'Gas Peaker', 'Year': 2016, 'Mean LCOE': 191},
 {'Type': 'Gas Peaker', 'Year': 2017, 'Mean LCOE': 183},
 {'Type': 'Gas Peaker', 'Year': 2018, 'Mean LCOE': 179},
 {'Type': 'Gas Peaker', 'Year': 2019, 'Mean LCOE': 175}]

In [ ]:
import json #export to be put into a graph

In [ ]:
open('projectlazard.json', 'w').write( json.dumps(exported_values) )

4862