<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/inlinepiechart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [2,4,3,"fdfd",[5,6]]

In [ ]:
a

[2, 4, 3, 'fdfd', [5, 6]]

In [ ]:
a[4][0]

In [ ]:
b={'alfa':1,
'beta':27, 
'gamma':[0,1,2],
'delta':67.3,
'ninety-eight':{
    'a': 5, 
    'b':7}
   }

In [ ]:
b['ninety-eight']['a']

5

In [ ]:
b.keys(),b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], 67.3, {'a': 5, 'b': 7}]))

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('electricityprodpiechart.csv')

In [ ]:
df

                                Sources       TWh  Percentage
0  Other renewables excluding bioenergy     93.46        0.34
1                             Bioenergy    666.34        2.40
2                                   Oil    760.15        2.74
3                                 Solar   1021.22        3.68
4                                  Wind   1848.26        6.65
5                               Nuclear   2738.44        9.86
6          Electricity from hydro (TWh)   4226.34       15.21
7                                 Hydro   6317.60       22.74
8                                  Coal  10110.98       36.39

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8
Sources,Other renewables excluding bioenergy,Bioenergy,Oil,Solar,Wind,Nuclear,Electricity from hydro (TWh),Hydro,Coal
TWh,93.46,666.34,760.15,1021.22,1848.26,2738.44,4226.34,6317.6,10110.98
Percentage,0.34,2.4,2.74,3.68,6.65,9.86,15.21,22.74,36.39

In [ ]:
df.T.to_dict

<bound method DataFrame.to_dict of                                                0          1       2        3  \
Sources     Other renewables excluding bioenergy  Bioenergy     Oil    Solar
TWh                                        93.46     666.34  760.15  1021.22
Percentage                                  0.34        2.4    2.74     3.68

                  4        5                             6       7         8
Sources        Wind  Nuclear  Electricity from hydro (TWh)   Hydro      Coal
TWh         1848.26  2738.44                       4226.34  6317.6  10110.98
Percentage     6.65     9.86                         15.21   22.74     36.39  >

In [ ]:
b.keys()

dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight'])

In [ ]:
list ( df.T.to_dict().values() )

[{'Sources': 'Other renewables excluding bioenergy',
  'TWh': 93.46,
  'Percentage': 0.34},
 {'Sources': 'Bioenergy', 'TWh': 666.34, 'Percentage': 2.4},
 {'Sources': 'Oil', 'TWh': 760.15, 'Percentage': 2.74},
 {'Sources': 'Solar', 'TWh': 1021.22, 'Percentage': 3.68},
 {'Sources': 'Wind', 'TWh': 1848.26, 'Percentage': 6.65},
 {'Sources': 'Nuclear', 'TWh': 2738.44, 'Percentage': 9.86},
 {'Sources': 'Electricity from hydro (TWh)',
  'TWh': 4226.34,
  'Percentage': 15.21},
 {'Sources': 'Hydro', 'TWh': 6317.6, 'Percentage': 22.74},
 {'Sources': 'Coal', 'TWh': 10110.98, 'Percentage': 36.39}]

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
exported_values

[{'Sources': 'Other renewables excluding bioenergy',
  'TWh': 93.46,
  'Percentage': 0.34},
 {'Sources': 'Bioenergy', 'TWh': 666.34, 'Percentage': 2.4},
 {'Sources': 'Oil', 'TWh': 760.15, 'Percentage': 2.74},
 {'Sources': 'Solar', 'TWh': 1021.22, 'Percentage': 3.68},
 {'Sources': 'Wind', 'TWh': 1848.26, 'Percentage': 6.65},
 {'Sources': 'Nuclear', 'TWh': 2738.44, 'Percentage': 9.86},
 {'Sources': 'Electricity from hydro (TWh)',
  'TWh': 4226.34,
  'Percentage': 15.21},
 {'Sources': 'Hydro', 'TWh': 6317.6, 'Percentage': 22.74},
 {'Sources': 'Coal', 'TWh': 10110.98, 'Percentage': 36.39}]

In [ ]:
import json

In [ ]:
open('inlinepie.json', 'w').write( json.dumps(exported_values) )

576