<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/trellisedited.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a = [2,4,3,"fdfd",[5,6]]

In [ ]:
a

[2, 4, 3, 'fdfd', [5, 6]]

In [ ]:
a[4][0]

5

In [ ]:
b={'alfa':1,
'beta':27, 
'gamma':[0,1,2],
'delta':67.3,
'ninety-eight':{
    'a': 5, 
    'b':7}
   }

In [ ]:
b['ninety-eight']['a']

5

In [ ]:
b.keys(),b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], 67.3, {'a': 5, 'b': 7}]))

In [ ]:
df = pd.read_csv('lowhightrellis.csv')

In [ ]:
df

                           Entity  Year  Annual CO2 emissions Billion Tonnes
0           High-income countries  2000                            13.814314
1           High-income countries  2001                            13.768310
2           High-income countries  2002                            13.879006
3           High-income countries  2003                            14.132029
4           High-income countries  2004                            14.346497
..                            ...   ...                                  ...
83  Upper-middle-income countries  2017                            15.586029
84  Upper-middle-income countries  2018                            15.964710
85  Upper-middle-income countries  2019                            16.338437
86  Upper-middle-income countries  2020                            16.219840
87  Upper-middle-income countries  2021                            17.038822

[88 rows x 3 columns]

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,78,79,80,81,82,83,84,85,86,87
Entity,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,High-income countries,...,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries,Upper-middle-income countries
Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Annual CO2 emissions Billion Tonnes,13.814314,13.76831,13.879006,14.132029,14.346497,14.392103,14.391346,14.503344,14.207814,13.361896,...,15.168901,15.347986,15.518297,15.348731,15.287409,15.586029,15.96471,16.338437,16.21984,17.038822

In [ ]:
df.T.to_dict

<bound method DataFrame.to_dict of                                                         0   \
Entity                               High-income countries
Year                                                  2000
Annual CO2 emissions Billion Tonnes              13.814314

                                                        1   \
Entity                               High-income countries
Year                                                  2001
Annual CO2 emissions Billion Tonnes               13.76831

                                                        2   \
Entity                               High-income countries
Year                                                  2002
Annual CO2 emissions Billion Tonnes              13.879006

                                                        3   \
Entity                               High-income countries
Year                                                  2003
Annual CO2 emissions Billion Tonnes              14.132029

                                                        4   \
Entity                               High-income countries
Year                                                  2004
Annual CO2 emissions Billion Tonnes              14.346497

                                                        5   \
Entity                               High-income countries
Year                                                  2005
Annual CO2 emissions Billion Tonnes              14.392103

                                                        6   \
Entity                               High-income countries
Year                                                  2006
Annual CO2 emissions Billion Tonnes              14.391346

                                                        7   \
Entity                               High-income countries
Year                                                  2007
Annual CO2 emissions Billion Tonnes              14.503344

                                                        8   \
Entity                               High-income countries
Year                                                  2008
Annual CO2 emissions Billion Tonnes              14.207814

                                                        9   ...  \
Entity                               High-income countries  ...
Year                                                  2009  ...
Annual CO2 emissions Billion Tonnes              13.361896  ...

                                                                78  \
Entity                               Upper-middle-income countries
Year                                                          2012
Annual CO2 emissions Billion Tonnes                      15.168901

                                                                79  \
Entity                               Upper-middle-income countries
Year                                                          2013
Annual CO2 emissions Billion Tonnes                      15.347986

                                                                80  \
Entity                               Upper-middle-income countries
Year                                                          2014
Annual CO2 emissions Billion Tonnes                      15.518297

                                                                81  \
Entity                               Upper-middle-income countries
Year                                                          2015
Annual CO2 emissions Billion Tonnes                      15.348731

                                                                82  \
Entity                               Upper-middle-income countries
Year                                                          2016
Annual CO2 emissions Billion Tonnes                      15.287409

                                                                83  \
Entity                               Upper-middle-income countries
Year                                                          2017
Annual CO2 emissions Billion Tonnes                      15.586029

                                                                84  \
Entity                               Upper-middle-income countries
Year                                                          2018
Annual CO2 emissions Billion Tonnes                       15.96471

                                                                85  \
Entity                               Upper-middle-income countries
Year                                                          2019
Annual CO2 emissions Billion Tonnes                      16.338437

                                                                86  \
Entity                               Upper-middle-income countries
Year                                                          2020
Annual CO2 emissions Billion Tonnes                       16.21984

                                                                87
Entity                               Upper-middle-income countries
Year                                                          2021
Annual CO2 emissions Billion Tonnes                      17.038822

[3 rows x 88 columns]>

In [ ]:
b.keys()

dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight'])

In [ ]:
list ( df.T.to_dict().values() )

[{'Entity': 'High-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 13.814314},
 {'Entity': 'High-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 13.76831},
 {'Entity': 'High-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 13.879006},
 {'Entity': 'High-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 14.132029},
 {'Entity': 'High-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 14.346497},
 {'Entity': 'High-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 14.392103},
 {'Entity': 'High-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 14.391346},
 {'Entity': 'High-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 14.503344},
 {'Entity': 'High-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 14.207814},
 {'Entity': 'High-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 13.361896},
 {'Entity': 'High-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 13.919588},
 {'Entity': 'High-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 13.710742},
 {'Entity': 'High-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 13.646848},
 {'Entity': 'High-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 13.672034},
 {'Entity': 'High-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 13.541289},
 {'Entity': 'High-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 13.504642},
 {'Entity': 'High-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 13.287067},
 {'Entity': 'High-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 13.285368},
 {'Entity': 'High-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 13.34473},
 {'Entity': 'High-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 13.03792},
 {'Entity': 'High-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 11.938873},
 {'Entity': 'High-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 12.516404},
 {'Entity': 'Low-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 0.15984282},
 {'Entity': 'Low-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 0.16322282},
 {'Entity': 'Low-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 0.15231773},
 {'Entity': 'Low-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 0.17427158},
 {'Entity': 'Low-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 0.17734845},
 {'Entity': 'Low-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 0.18179064},
 {'Entity': 'Low-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 0.18963666},
 {'Entity': 'Low-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 0.19419267},
 {'Entity': 'Low-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 0.20696437},
 {'Entity': 'Low-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 0.19170944},
 {'Entity': 'Low-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 0.1910769},
 {'Entity': 'Low-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 0.17830454},
 {'Entity': 'Low-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 0.17113435},
 {'Entity': 'Low-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 0.1589318},
 {'Entity': 'Low-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 0.16848005},
 {'Entity': 'Low-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 0.15191834},
 {'Entity': 'Low-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 0.15492858},
 {'Entity': 'Low-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 0.18865408},
 {'Entity': 'Low-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 0.18389006},
 {'Entity': 'Low-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 0.19521739},
 {'Entity': 'Low-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 0.19159389},
 {'Entity': 'Low-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 0.19878296},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 2.77697},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 2.8723914},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 2.9457905},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 3.0782856},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 3.2322355},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 3.3754657},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 3.5282836},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 3.7336602},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 3.8609654},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 4.0282458},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 4.2469786},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 4.5060434},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 4.738324},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 4.820519},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 5.0458317},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 5.2186537},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 5.461015},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 5.655321},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 5.9494026},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 6.161634},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 5.889132},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 6.258658},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 7.7588147},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 7.90476},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 8.305314},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 9.23482},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 9.815747},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 10.549172},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 11.31908},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 11.863421},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 12.569875},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 12.78544},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 13.731335},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 14.796521},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 15.168901},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 15.347986},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 15.518297},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 15.348731},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 15.287409},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 15.586029},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 15.96471},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 16.338437},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 16.21984},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 17.038822}]

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
exported_values

[{'Entity': 'High-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 13.814314},
 {'Entity': 'High-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 13.76831},
 {'Entity': 'High-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 13.879006},
 {'Entity': 'High-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 14.132029},
 {'Entity': 'High-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 14.346497},
 {'Entity': 'High-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 14.392103},
 {'Entity': 'High-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 14.391346},
 {'Entity': 'High-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 14.503344},
 {'Entity': 'High-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 14.207814},
 {'Entity': 'High-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 13.361896},
 {'Entity': 'High-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 13.919588},
 {'Entity': 'High-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 13.710742},
 {'Entity': 'High-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 13.646848},
 {'Entity': 'High-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 13.672034},
 {'Entity': 'High-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 13.541289},
 {'Entity': 'High-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 13.504642},
 {'Entity': 'High-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 13.287067},
 {'Entity': 'High-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 13.285368},
 {'Entity': 'High-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 13.34473},
 {'Entity': 'High-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 13.03792},
 {'Entity': 'High-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 11.938873},
 {'Entity': 'High-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 12.516404},
 {'Entity': 'Low-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 0.15984282},
 {'Entity': 'Low-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 0.16322282},
 {'Entity': 'Low-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 0.15231773},
 {'Entity': 'Low-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 0.17427158},
 {'Entity': 'Low-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 0.17734845},
 {'Entity': 'Low-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 0.18179064},
 {'Entity': 'Low-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 0.18963666},
 {'Entity': 'Low-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 0.19419267},
 {'Entity': 'Low-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 0.20696437},
 {'Entity': 'Low-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 0.19170944},
 {'Entity': 'Low-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 0.1910769},
 {'Entity': 'Low-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 0.17830454},
 {'Entity': 'Low-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 0.17113435},
 {'Entity': 'Low-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 0.1589318},
 {'Entity': 'Low-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 0.16848005},
 {'Entity': 'Low-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 0.15191834},
 {'Entity': 'Low-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 0.15492858},
 {'Entity': 'Low-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 0.18865408},
 {'Entity': 'Low-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 0.18389006},
 {'Entity': 'Low-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 0.19521739},
 {'Entity': 'Low-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 0.19159389},
 {'Entity': 'Low-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 0.19878296},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 2.77697},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 2.8723914},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 2.9457905},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 3.0782856},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 3.2322355},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 3.3754657},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 3.5282836},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 3.7336602},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 3.8609654},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 4.0282458},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 4.2469786},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 4.5060434},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 4.738324},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 4.820519},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 5.0458317},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 5.2186537},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 5.461015},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 5.655321},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 5.9494026},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 6.161634},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 5.889132},
 {'Entity': 'Lower-middle-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 6.258658},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2000,
  'Annual CO2 emissions Billion Tonnes': 7.7588147},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2001,
  'Annual CO2 emissions Billion Tonnes': 7.90476},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2002,
  'Annual CO2 emissions Billion Tonnes': 8.305314},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2003,
  'Annual CO2 emissions Billion Tonnes': 9.23482},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2004,
  'Annual CO2 emissions Billion Tonnes': 9.815747},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2005,
  'Annual CO2 emissions Billion Tonnes': 10.549172},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2006,
  'Annual CO2 emissions Billion Tonnes': 11.31908},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2007,
  'Annual CO2 emissions Billion Tonnes': 11.863421},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2008,
  'Annual CO2 emissions Billion Tonnes': 12.569875},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2009,
  'Annual CO2 emissions Billion Tonnes': 12.78544},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2010,
  'Annual CO2 emissions Billion Tonnes': 13.731335},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2011,
  'Annual CO2 emissions Billion Tonnes': 14.796521},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2012,
  'Annual CO2 emissions Billion Tonnes': 15.168901},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2013,
  'Annual CO2 emissions Billion Tonnes': 15.347986},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2014,
  'Annual CO2 emissions Billion Tonnes': 15.518297},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2015,
  'Annual CO2 emissions Billion Tonnes': 15.348731},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2016,
  'Annual CO2 emissions Billion Tonnes': 15.287409},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2017,
  'Annual CO2 emissions Billion Tonnes': 15.586029},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2018,
  'Annual CO2 emissions Billion Tonnes': 15.96471},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2019,
  'Annual CO2 emissions Billion Tonnes': 16.338437},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2020,
  'Annual CO2 emissions Billion Tonnes': 16.21984},
 {'Entity': 'Upper-middle-income countries',
  'Year': 2021,
  'Annual CO2 emissions Billion Tonnes': 17.038822}]

In [ ]:
import json

In [ ]:
open('trellisweek9.json', 'w').write( json.dumps(exported_values) )

9216