<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/Week8ONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/theagegeshidze/theagegeshidze.github.io/main/foodw8b.csv')

In [ ]:
df

                       Item  Percentage change  Unnamed: 2
0        Fruit juice orange               -8.9         NaN
1                Beef mince               -7.4         NaN
2          Granulated sugar               -0.3         NaN
3                      Rice               -0.2         NaN
4                     Pizza                3.2         NaN
5                   Yoghurt                6.6         NaN
6              Fruit squash                6.7         NaN
7                   Bananas                7.0         NaN
8                       Ham                9.9         NaN
9            Chicken breast               10.1         NaN
10                   Cheese               10.4         NaN
11         Breakfast cereal               10.6         NaN
12           Tomato ketchup               12.1         NaN
13             Fish fingers               13.1         NaN
14                   Potato               13.2         NaN
15              Baked beans               16.2         NaN
16                   Apples               17.2         NaN
17                All Items               17.3         NaN
18                   Onions               18.0         NaN
19                 Sausages               18.3         NaN
20           Instant coffee               18.8         NaN
21                 Tomatoes               19.3         NaN
22                   Crisps               23.7         NaN
23                     Milk               29.4         NaN
24  Mixed frozen vegetables               31.9         NaN
25                 Biscuits               34.4         NaN
26                    Bread               37.6         NaN
27                    Chips               38.7         NaN
28                      Tea               46.0         NaN
29                    Pasta               59.9         NaN
30            Vegetable oil               65.2         NaN

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed: 2')]

In [ ]:
df

                       Item  Percentage change
0        Fruit juice orange               -8.9
1                Beef mince               -7.4
2          Granulated sugar               -0.3
3                      Rice               -0.2
4                     Pizza                3.2
5                   Yoghurt                6.6
6              Fruit squash                6.7
7                   Bananas                7.0
8                       Ham                9.9
9            Chicken breast               10.1
10                   Cheese               10.4
11         Breakfast cereal               10.6
12           Tomato ketchup               12.1
13             Fish fingers               13.1
14                   Potato               13.2
15              Baked beans               16.2
16                   Apples               17.2
17                All Items               17.3
18                   Onions               18.0
19                 Sausages               18.3
20           Instant coffee               18.8
21                 Tomatoes               19.3
22                   Crisps               23.7
23                     Milk               29.4
24  Mixed frozen vegetables               31.9
25                 Biscuits               34.4
26                    Bread               37.6
27                    Chips               38.7
28                      Tea               46.0
29                    Pasta               59.9
30            Vegetable oil               65.2

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
Item,Fruit juice orange,Beef mince,Granulated sugar,Rice,Pizza,Yoghurt,Fruit squash,Bananas,Ham,Chicken breast,...,Tomatoes,Crisps,Milk,Mixed frozen vegetables,Biscuits,Bread,Chips,Tea,Pasta,Vegetable oil
Percentage change,-8.9,-7.4,-0.3,-0.2,3.2,6.6,6.7,7.0,9.9,10.1,...,19.3,23.7,29.4,31.9,34.4,37.6,38.7,46.0,59.9,65.2

In [ ]:
df.T.to_dict

<bound method DataFrame.to_dict of                                    0           1                 2     3   \
Item               Fruit juice orange  Beef mince  Granulated sugar  Rice
Percentage change                -8.9        -7.4              -0.3  -0.2

                      4        5             6        7    8               9   \
Item               Pizza  Yoghurt  Fruit squash  Bananas  Ham  Chicken breast
Percentage change    3.2      6.6           6.7      7.0  9.9            10.1

                   ...        21      22    23                       24  \
Item               ...  Tomatoes  Crisps  Milk  Mixed frozen vegetables
Percentage change  ...      19.3    23.7  29.4                     31.9

                         25     26     27    28     29             30
Item               Biscuits  Bread  Chips   Tea  Pasta  Vegetable oil
Percentage change      34.4   37.6   38.7  46.0   59.9           65.2

[2 rows x 31 columns]>

In [ ]:
list ( df.T.to_dict().values() )

[{'Item': 'Fruit juice orange', 'Percentage change': -8.9},
 {'Item': 'Beef mince', 'Percentage change': -7.4},
 {'Item': 'Granulated sugar', 'Percentage change': -0.3},
 {'Item': 'Rice', 'Percentage change': -0.2},
 {'Item': 'Pizza', 'Percentage change': 3.2},
 {'Item': 'Yoghurt', 'Percentage change': 6.6},
 {'Item': 'Fruit squash', 'Percentage change': 6.7},
 {'Item': 'Bananas', 'Percentage change': 7.0},
 {'Item': 'Ham', 'Percentage change': 9.9},
 {'Item': 'Chicken breast', 'Percentage change': 10.1},
 {'Item': 'Cheese', 'Percentage change': 10.4},
 {'Item': 'Breakfast cereal', 'Percentage change': 10.6},
 {'Item': 'Tomato ketchup', 'Percentage change': 12.1},
 {'Item': 'Fish fingers', 'Percentage change': 13.1},
 {'Item': 'Potato', 'Percentage change': 13.2},
 {'Item': 'Baked beans', 'Percentage change': 16.2},
 {'Item': 'Apples', 'Percentage change': 17.2},
 {'Item': 'All Items', 'Percentage change': 17.3},
 {'Item': 'Onions', 'Percentage change': 18.0},
 {'Item': 'Sausages', 'Percentage change': 18.3},
 {'Item': 'Instant coffee', 'Percentage change': 18.8},
 {'Item': 'Tomatoes', 'Percentage change': 19.3},
 {'Item': 'Crisps', 'Percentage change': 23.7},
 {'Item': 'Milk', 'Percentage change': 29.4},
 {'Item': 'Mixed frozen vegetables', 'Percentage change': 31.9},
 {'Item': 'Biscuits', 'Percentage change': 34.4},
 {'Item': 'Bread', 'Percentage change': 37.6},
 {'Item': 'Chips', 'Percentage change': 38.7},
 {'Item': 'Tea', 'Percentage change': 46.0},
 {'Item': 'Pasta', 'Percentage change': 59.9},
 {'Item': 'Vegetable oil', 'Percentage change': 65.2}]

In [ ]:
exported_values = list( df.T.to_dict().values() )

In [ ]:
exported_values

[{'Item': 'Fruit juice orange', 'Percentage change': -8.9},
 {'Item': 'Beef mince', 'Percentage change': -7.4},
 {'Item': 'Granulated sugar', 'Percentage change': -0.3},
 {'Item': 'Rice', 'Percentage change': -0.2},
 {'Item': 'Pizza', 'Percentage change': 3.2},
 {'Item': 'Yoghurt', 'Percentage change': 6.6},
 {'Item': 'Fruit squash', 'Percentage change': 6.7},
 {'Item': 'Bananas', 'Percentage change': 7.0},
 {'Item': 'Ham', 'Percentage change': 9.9},
 {'Item': 'Chicken breast', 'Percentage change': 10.1},
 {'Item': 'Cheese', 'Percentage change': 10.4},
 {'Item': 'Breakfast cereal', 'Percentage change': 10.6},
 {'Item': 'Tomato ketchup', 'Percentage change': 12.1},
 {'Item': 'Fish fingers', 'Percentage change': 13.1},
 {'Item': 'Potato', 'Percentage change': 13.2},
 {'Item': 'Baked beans', 'Percentage change': 16.2},
 {'Item': 'Apples', 'Percentage change': 17.2},
 {'Item': 'All Items', 'Percentage change': 17.3},
 {'Item': 'Onions', 'Percentage change': 18.0},
 {'Item': 'Sausages', 'Percentage change': 18.3},
 {'Item': 'Instant coffee', 'Percentage change': 18.8},
 {'Item': 'Tomatoes', 'Percentage change': 19.3},
 {'Item': 'Crisps', 'Percentage change': 23.7},
 {'Item': 'Milk', 'Percentage change': 29.4},
 {'Item': 'Mixed frozen vegetables', 'Percentage change': 31.9},
 {'Item': 'Biscuits', 'Percentage change': 34.4},
 {'Item': 'Bread', 'Percentage change': 37.6},
 {'Item': 'Chips', 'Percentage change': 38.7},
 {'Item': 'Tea', 'Percentage change': 46.0},
 {'Item': 'Pasta', 'Percentage change': 59.9},
 {'Item': 'Vegetable oil', 'Percentage change': 65.2}]

In [ ]:
import json

In [ ]:
open('week8b.json', 'w').write( json.dumps(exported_values) )

1550