<a href="https://colab.research.google.com/github/theagegeshidze/theagegeshidze.github.io/blob/main/WEEK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrays, vectors, `lists`  
Cell navigation: `Ctrl+Enter` runs the cell  
`Alt+Enter` runs and adds a new one below
`Shift+Etner` runs and steps into the next cell

In [5]:
a = [2,4,3,"fdfd",[5,6]]

In [6]:
a

[2, 4, 3, 'fdfd', [5, 6]]

In [7]:
a[4][0]

5

This is a nice **comments**  
Dictionary, Object, Hash table

In [8]:
b={'alfa':1,
'beta':27, 
'gamma':[0,1,2],
'delta':67.3,
'ninety-eight':{
    'a': 5, 
    'b':7}
   }

In [9]:
b['ninety-eight']['a']

5

In [10]:
b.keys(),b.values()

(dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight']),
 dict_values([1, 27, [0, 1, 2], 67.3, {'a': 5, 'b': 7}]))

In [4]:
import pandas as pd

In [25]:
df = pd.read_csv('UKGDPovertime.csv')

In [26]:
df

    LOCATION     TIME      Value
0         UK  1956-Q1   2.722894
1         UK  1956-Q2   2.452136
2         UK  1956-Q3   0.305441
3         UK  1956-Q4   1.305624
4         UK  1957-Q1   2.157135
..       ...      ...        ...
261       UK  2021-Q2  24.274075
262       UK  2021-Q3   8.455658
263       UK  2021-Q4   8.892294
264       UK  2022-Q1  10.942436
265       UK  2022-Q2   4.375820

[266 rows x 3 columns]

In [27]:
df.head(5)

  LOCATION     TIME     Value
0       UK  1956-Q1  2.722894
1       UK  1956-Q2  2.452136
2       UK  1956-Q3  0.305441
3       UK  1956-Q4  1.305624
4       UK  1957-Q1  2.157135

In [28]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
LOCATION,UK,UK,UK,UK,UK,UK,UK,UK,UK,UK,...,UK,UK,UK,UK,UK,UK,UK,UK,UK,UK
TIME,1956-Q1,1956-Q2,1956-Q3,1956-Q4,1957-Q1,1957-Q2,1957-Q3,1957-Q4,1958-Q1,1958-Q2,...,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2
Value,2.722894,2.452136,0.305441,1.305624,2.157135,2.348061,1.837429,1.566555,1.766138,-0.66204,...,-1.963018,-22.627408,-10.324678,-9.213327,-7.840956,24.274075,8.455658,8.892294,10.942436,4.37582

In [29]:
df.T.to_dict

<bound method DataFrame.to_dict of                0         1         2         3         4         5    \
LOCATION        UK        UK        UK        UK        UK        UK
TIME       1956-Q1   1956-Q2   1956-Q3   1956-Q4   1957-Q1   1957-Q2
Value     2.722894  2.452136  0.305441  1.305624  2.157135  2.348061

               6         7         8        9    ...       256        257  \
LOCATION        UK        UK        UK       UK  ...        UK         UK
TIME       1957-Q3   1957-Q4   1958-Q1  1958-Q2  ...   2020-Q1    2020-Q2
Value     1.837429  1.566555  1.766138 -0.66204  ... -1.963018 -22.627408

                258       259       260        261       262       263  \
LOCATION         UK        UK        UK         UK        UK        UK
TIME        2020-Q3   2020-Q4   2021-Q1    2021-Q2   2021-Q3   2021-Q4
Value    -10.324678 -9.213327 -7.840956  24.274075  8.455658  8.892294

                264      265
LOCATION         UK       UK
TIME        2022-Q1  2022-Q2
Value     10.942436  4.37582

[3 rows x 266 columns]>

In [31]:
b.keys()

dict_keys(['alfa', 'beta', 'gamma', 'delta', 'ninety-eight'])

In [33]:
list ( df.T.to_dict().values() )

[{'LOCATION': 'UK', 'TIME': '1956-Q1', 'Value': 2.722893534},
 {'LOCATION': 'UK', 'TIME': '1956-Q2', 'Value': 2.452136034},
 {'LOCATION': 'UK', 'TIME': '1956-Q3', 'Value': 0.305441171},
 {'LOCATION': 'UK', 'TIME': '1956-Q4', 'Value': 1.305623668},
 {'LOCATION': 'UK', 'TIME': '1957-Q1', 'Value': 2.157135477},
 {'LOCATION': 'UK', 'TIME': '1957-Q2', 'Value': 2.3480608},
 {'LOCATION': 'UK', 'TIME': '1957-Q3', 'Value': 1.837429353},
 {'LOCATION': 'UK', 'TIME': '1957-Q4', 'Value': 1.56655477},
 {'LOCATION': 'UK', 'TIME': '1958-Q1', 'Value': 1.766138381},
 {'LOCATION': 'UK', 'TIME': '1958-Q2', 'Value': -0.662040423},
 {'LOCATION': 'UK', 'TIME': '1958-Q3', 'Value': 2.176873943},
 {'LOCATION': 'UK', 'TIME': '1958-Q4', 'Value': 2.097153528},
 {'LOCATION': 'UK', 'TIME': '1959-Q1', 'Value': 0.551227456},
 {'LOCATION': 'UK', 'TIME': '1959-Q2', 'Value': 4.71137355},
 {'LOCATION': 'UK', 'TIME': '1959-Q3', 'Value': 4.633311117},
 {'LOCATION': 'UK', 'TIME': '1959-Q4', 'Value': 7.203042849},
 {'LOCATION': 'UK', 'TIME': '1960-Q1', 'Value': 9.162104623},
 {'LOCATION': 'UK', 'TIME': '1960-Q2', 'Value': 6.552386936},
 {'LOCATION': 'UK', 'TIME': '1960-Q3', 'Value': 5.886616733},
 {'LOCATION': 'UK', 'TIME': '1960-Q4', 'Value': 3.859250851},
 {'LOCATION': 'UK', 'TIME': '1961-Q1', 'Value': 2.985999861},
 {'LOCATION': 'UK', 'TIME': '1961-Q2', 'Value': 4.22200073},
 {'LOCATION': 'UK', 'TIME': '1961-Q3', 'Value': 2.144916713},
 {'LOCATION': 'UK', 'TIME': '1961-Q4', 'Value': 1.361652404},
 {'LOCATION': 'UK', 'TIME': '1962-Q1', 'Value': 0.181932543},
 {'LOCATION': 'UK', 'TIME': '1962-Q2', 'Value': 0.682232983},
 {'LOCATION': 'UK', 'TIME': '1962-Q3', 'Value': 1.833160713},
 {'LOCATION': 'UK', 'TIME': '1962-Q4', 'Value': 1.609862612},
 {'LOCATION': 'UK', 'TIME': '1963-Q1', 'Value': 1.581086372},
 {'LOCATION': 'UK', 'TIME': '1963-Q2', 'Value': 5.070369776},
 {'LOCATION': 'UK', 'TIME': '1963-Q3', 'Value': 4.923852132},
 {'LOCATION': 'UK', 'TIME': '1963-Q4', 'Value': 7.724906567},
 {'LOCATION': 'UK', 'TIME': '1964-Q1', 'Value': 7.941887976},
 {'LOCATION': 'UK', 'TIME': '1964-Q2', 'Value': 5.327994092},
 {'LOCATION': 'UK', 'TIME': '1964-Q3', 'Value': 5.221809704},
 {'LOCATION': 'UK', 'TIME': '1964-Q4', 'Value': 4.451878698},
 {'LOCATION': 'UK', 'TIME': '1965-Q1', 'Value': 3.491608073},
 {'LOCATION': 'UK', 'TIME': '1965-Q2', 'Value': 1.673063556},
 {'LOCATION': 'UK', 'TIME': '1965-Q3', 'Value': 2.117654143},
 {'LOCATION': 'UK', 'TIME': '1965-Q4', 'Value': 1.207584771},
 {'LOCATION': 'UK', 'TIME': '1966-Q1', 'Value': 1.684226808},
 {'LOCATION': 'UK', 'TIME': '1966-Q2', 'Value': 2.204942543},
 {'LOCATION': 'UK', 'TIME': '1966-Q3', 'Value': 1.686350584},
 {'LOCATION': 'UK', 'TIME': '1966-Q4', 'Value': 0.633508559},
 {'LOCATION': 'UK', 'TIME': '1967-Q1', 'Value': 1.821904985},
 {'LOCATION': 'UK', 'TIME': '1967-Q2', 'Value': 2.666325427},
 {'LOCATION': 'UK', 'TIME': '1967-Q3', 'Value': 2.798958581},
 {'LOCATION': 'UK', 'TIME': '1967-Q4', 'Value': 3.759652453},
 {'LOCATION': 'UK', 'TIME': '1968-Q1', 'Value': 6.11604629},
 {'LOCATION': 'UK', 'TIME': '1968-Q2', 'Value': 4.216287265},
 {'LOCATION': 'UK', 'TIME': '1968-Q3', 'Value': 5.795785294},
 {'LOCATION': 'UK', 'TIME': '1968-Q4', 'Value': 5.682086051},
 {'LOCATION': 'UK', 'TIME': '1969-Q1', 'Value': 1.70513001},
 {'LOCATION': 'UK', 'TIME': '1969-Q2', 'Value': 2.917672386},
 {'LOCATION': 'UK', 'TIME': '1969-Q3', 'Value': 1.493396744},
 {'LOCATION': 'UK', 'TIME': '1969-Q4', 'Value': 1.568258824},
 {'LOCATION': 'UK', 'TIME': '1970-Q1', 'Value': 1.177147056},
 {'LOCATION': 'UK', 'TIME': '1970-Q2', 'Value': 2.752027045},
 {'LOCATION': 'UK', 'TIME': '1970-Q3', 'Value': 3.203404076},
 {'LOCATION': 'UK', 'TIME': '1970-Q4', 'Value': 3.617758861},
 {'LOCATION': 'UK', 'TIME': '1971-Q1', 'Value': 3.762931624},
 {'LOCATION': 'UK', 'TIME': '1971-Q2', 'Value': 3.187250996},
 {'LOCATION': 'UK', 'TIME': '1971-Q3', 'Value': 3.987111749},
 {'LOCATION': 'UK', 'TIME': '1971-Q4', 'Value': 3.485895948},
 {'LOCATION': 'UK', 'TIME': '1972-Q1', 'Value': 4.118891013},
 {'LOCATION': 'UK', 'TIME': '1972-Q2', 'Value': 4.988915182},
 {'LOCATION': 'UK', 'TIME': '1972-Q3', 'Value': 3.43529573},
 {'LOCATION': 'UK', 'TIME': '1972-Q4', 'Value': 4.639698066},
 {'LOCATION': 'UK', 'TIME': '1973-Q1', 'Value': 9.710147045},
 {'LOCATION': 'UK', 'TIME': '1973-Q2', 'Value': 7.027650316},
 {'LOCATION': 'UK', 'TIME': '1973-Q3', 'Value': 5.730470543},
 {'LOCATION': 'UK', 'TIME': '1973-Q4', 'Value': 3.658087636},
 {'LOCATION': 'UK', 'TIME': '1974-Q1', 'Value': -3.948554254},
 {'LOCATION': 'UK', 'TIME': '1974-Q2', 'Value': -2.706285552},
 {'LOCATION': 'UK', 'TIME': '1974-Q3', 'Value': -1.165975884},
 {'LOCATION': 'UK', 'TIME': '1974-Q4', 'Value': -2.185278925},
 {'LOCATION': 'UK', 'TIME': '1975-Q1', 'Value': 0.62860233},
 {'LOCATION': 'UK', 'TIME': '1975-Q2', 'Value': -2.424753355},
 {'LOCATION': 'UK', 'TIME': '1975-Q3', 'Value': -3.368913968},
 {'LOCATION': 'UK', 'TIME': '1975-Q4', 'Value': -0.810269232},
 {'LOCATION': 'UK', 'TIME': '1976-Q1', 'Value': 0.768902179},
 {'LOCATION': 'UK', 'TIME': '1976-Q2', 'Value': 2.325288151},
 {'LOCATION': 'UK', 'TIME': '1976-Q3', 'Value': 3.991114194},
 {'LOCATION': 'UK', 'TIME': '1976-Q4', 'Value': 4.990756143},
 {'LOCATION': 'UK', 'TIME': '1977-Q1', 'Value': 3.302383459},
 {'LOCATION': 'UK', 'TIME': '1977-Q2', 'Value': 2.694623077},
 {'LOCATION': 'UK', 'TIME': '1977-Q3', 'Value': 2.095182298},
 {'LOCATION': 'UK', 'TIME': '1977-Q4', 'Value': 1.680568428},
 {'LOCATION': 'UK', 'TIME': '1978-Q1', 'Value': 2.559656183},
 {'LOCATION': 'UK', 'TIME': '1978-Q2', 'Value': 4.507415325},
 {'LOCATION': 'UK', 'TIME': '1978-Q3', 'Value': 5.230887397},
 {'LOCATION': 'UK', 'TIME': '1978-Q4', 'Value': 4.40368406},
 {'LOCATION': 'UK', 'TIME': '1979-Q1', 'Value': 3.121329587},
 {'LOCATION': 'UK', 'TIME': '1979-Q2', 'Value': 6.41295519},
 {'LOCATION': 'UK', 'TIME': '1979-Q3', 'Value': 2.623023713},
 {'LOCATION': 'UK', 'TIME': '1979-Q4', 'Value': 2.760409738},
 {'LOCATION': 'UK', 'TIME': '1980-Q1', 'Value': 2.144871666},
 {'LOCATION': 'UK', 'TIME': '1980-Q2', 'Value': -4.11183356},
 {'LOCATION': 'UK', 'TIME': '1980-Q3', 'Value': -2.024182275},
 {'LOCATION': 'UK', 'TIME': '1980-Q4', 'Value': -4.091284226},
 {'LOCATION': 'UK', 'TIME': '1981-Q1', 'Value': -3.221023653},
 {'LOCATION': 'UK', 'TIME': '1981-Q2', 'Value': -1.025673085},
 {'LOCATION': 'UK', 'TIME': '1981-Q3', 'Value': 0.16062414},
 {'LOCATION': 'UK', 'TIME': '1981-Q4', 'Value': 1.391144425},
 {'LOCATION': 'UK', 'TIME': '1982-Q1', 'Value': 1.626973576},
 {'LOCATION': 'UK', 'TIME': '1982-Q2', 'Value': 2.464638979},
 {'LOCATION': 'UK', 'TIME': '1982-Q3', 'Value': 1.604498594},
 {'LOCATION': 'UK', 'TIME': '1982-Q4', 'Value': 2.187470098},
 {'LOCATION': 'UK', 'TIME': '1983-Q1', 'Value': 3.895381191},
 {'LOCATION': 'UK', 'TIME': '1983-Q2', 'Value': 3.664129666},
 {'LOCATION': 'UK', 'TIME': '1983-Q3', 'Value': 4.531683659},
 {'LOCATION': 'UK', 'TIME': '1983-Q4', 'Value': 4.692887997},
 {'LOCATION': 'UK', 'TIME': '1984-Q1', 'Value': 3.505504081},
 {'LOCATION': 'UK', 'TIME': '1984-Q2', 'Value': 1.750658083},
 {'LOCATION': 'UK', 'TIME': '1984-Q3', 'Value': 1.305195289},
 {'LOCATION': 'UK', 'TIME': '1984-Q4', 'Value': 2.418784075},
 {'LOCATION': 'UK', 'TIME': '1985-Q1', 'Value': 2.522514173},
 {'LOCATION': 'UK', 'TIME': '1985-Q2', 'Value': 5.645902815},
 {'LOCATION': 'UK', 'TIME': '1985-Q3', 'Value': 5.069509773},
 {'LOCATION': 'UK', 'TIME': '1985-Q4', 'Value': 3.292276383},
 {'LOCATION': 'UK', 'TIME': '1986-Q1', 'Value': 3.633795389},
 {'LOCATION': 'UK', 'TIME': '1986-Q2', 'Value': 2.217182055},
 {'LOCATION': 'UK', 'TIME': '1986-Q3', 'Value': 2.591708302},
 {'LOCATION': 'UK', 'TIME': '1986-Q4', 'Value': 4.183131467},
 {'LOCATION': 'UK', 'TIME': '1987-Q1', 'Value': 3.984341777},
 {'LOCATION': 'UK', 'TIME': '1987-Q2', 'Value': 4.729278738},
 {'LOCATION': 'UK', 'TIME': '1987-Q3', 'Value': 6.775296475},
 {'LOCATION': 'UK', 'TIME': '1987-Q4', 'Value': 6.061921143},
 {'LOCATION': 'UK', 'TIME': '1988-Q1', 'Value': 6.898203007},
 {'LOCATION': 'UK', 'TIME': '1988-Q2', 'Value': 5.934028077},
 {'LOCATION': 'UK', 'TIME': '1988-Q3', 'Value': 4.965304756},
 {'LOCATION': 'UK', 'TIME': '1988-Q4', 'Value': 4.676220701},
 {'LOCATION': 'UK', 'TIME': '1989-Q1', 'Value': 3.309746782},
 {'LOCATION': 'UK', 'TIME': '1989-Q2', 'Value': 3.390243902},
 {'LOCATION': 'UK', 'TIME': '1989-Q3', 'Value': 1.946389374},
 {'LOCATION': 'UK', 'TIME': '1989-Q4', 'Value': 1.173318757},
 {'LOCATION': 'UK', 'TIME': '1990-Q1', 'Value': 1.415431751},
 {'LOCATION': 'UK', 'TIME': '1990-Q2', 'Value': 1.278917984},
 {'LOCATION': 'UK', 'TIME': '1990-Q3', 'Value': 0.137989998},
 {'LOCATION': 'UK', 'TIME': '1990-Q4', 'Value': -0.290870255},
 {'LOCATION': 'UK', 'TIME': '1991-Q1', 'Value': -1.244936302},
 {'LOCATION': 'UK', 'TIME': '1991-Q2', 'Value': -1.873654854},
 {'LOCATION': 'UK', 'TIME': '1991-Q3', 'Value': -1.062534136},
 {'LOCATION': 'UK', 'TIME': '1991-Q4', 'Value': -0.554454697},
 {'LOCATION': 'UK', 'TIME': '1992-Q1', 'Value': -0.252189275},
 {'LOCATION': 'UK', 'TIME': '1992-Q2', 'Value': -0.241171295},
 {'LOCATION': 'UK', 'TIME': '1992-Q3', 'Value': 0.614861371},
 {'LOCATION': 'UK', 'TIME': '1992-Q4', 'Value': 1.133782538},
 {'LOCATION': 'UK', 'TIME': '1993-Q1', 'Value': 1.843925343},
 {'LOCATION': 'UK', 'TIME': '1993-Q2', 'Value': 2.468622698},
 {'LOCATION': 'UK', 'TIME': '1993-Q3', 'Value': 2.642756463},
 {'LOCATION': 'UK', 'TIME': '1993-Q4', 'Value': 2.643712725},
 {'LOCATION': 'UK', 'TIME': '1994-Q1', 'Value': 3.128003957},
 {'LOCATION': 'UK', 'TIME': '1994-Q2', 'Value': 3.813584249},
 {'LOCATION': 'UK', 'TIME': '1994-Q3', 'Value': 4.126115166},
 {'LOCATION': 'UK', 'TIME': '1994-Q4', 'Value': 3.995568956},
 {'LOCATION': 'UK', 'TIME': '1995-Q1', 'Value': 3.455744391},
 {'LOCATION': 'UK', 'TIME': '1995-Q2', 'Value': 2.473948236},
 {'LOCATION': 'UK', 'TIME': '1995-Q3', 'Value': 2.386241934},
 {'LOCATION': 'UK', 'TIME': '1995-Q4', 'Value': 2.015957462},
 {'LOCATION': 'UK', 'TIME': '1996-Q1', 'Value': 1.77687324},
 {'LOCATION': 'UK', 'TIME': '1996-Q2', 'Value': 1.631600546},
 {'LOCATION': 'UK', 'TIME': '1996-Q3', 'Value': 1.693796808},
 {'LOCATION': 'UK', 'TIME': '1996-Q4', 'Value': 2.523220126},
 {'LOCATION': 'UK', 'TIME': '1997-Q1', 'Value': 3.675341492},
 {'LOCATION': 'UK', 'TIME': '1997-Q2', 'Value': 4.733744756},
 {'LOCATION': 'UK', 'TIME': '1997-Q3', 'Value': 4.599485986},
 {'LOCATION': 'UK', 'TIME': '1997-Q4', 'Value': 5.075149471},
 {'LOCATION': 'UK', 'TIME': '1998-Q1', 'Value': 4.11069815},
 {'LOCATION': 'UK', 'TIME': '1998-Q2', 'Value': 3.565793971},
 {'LOCATION': 'UK', 'TIME': '1998-Q3', 'Value': 2.916229842},
 {'LOCATION': 'UK', 'TIME': '1998-Q4', 'Value': 2.074699876},
 {'LOCATION': 'UK', 'TIME': '1999-Q1', 'Value': 2.193432972},
 {'LOCATION': 'UK', 'TIME': '1999-Q2', 'Value': 2.063279175},
 {'LOCATION': 'UK', 'TIME': '1999-Q3', 'Value': 3.467173459},
 {'LOCATION': 'UK', 'TIME': '1999-Q4', 'Value': 4.314615912},
 {'LOCATION': 'UK', 'TIME': '2000-Q1', 'Value': 4.774235439},
 {'LOCATION': 'UK', 'TIME': '2000-Q2', 'Value': 5.035943308},
 {'LOCATION': 'UK', 'TIME': '2000-Q3', 'Value': 3.826721414},
 {'LOCATION': 'UK', 'TIME': '2000-Q4', 'Value': 2.782263727},
 {'LOCATION': 'UK', 'TIME': '2001-Q1', 'Value': 2.472440984},
 {'LOCATION': 'UK', 'TIME': '2001-Q2', 'Value': 2.178308529},
 {'LOCATION': 'UK', 'TIME': '2001-Q3', 'Value': 2.127560521},
 {'LOCATION': 'UK', 'TIME': '2001-Q4', 'Value': 1.856437757},
 {'LOCATION': 'UK', 'TIME': '2002-Q1', 'Value': 1.342345197},
 {'LOCATION': 'UK', 'TIME': '2002-Q2', 'Value': 1.503757586},
 {'LOCATION': 'UK', 'TIME': '2002-Q3', 'Value': 1.772300103},
 {'LOCATION': 'UK', 'TIME': '2002-Q4', 'Value': 2.458800422},
 {'LOCATION': 'UK', 'TIME': '2003-Q1', 'Value': 2.750817559},
 {'LOCATION': 'UK', 'TIME': '2003-Q2', 'Value': 3.088572969},
 {'LOCATION': 'UK', 'TIME': '2003-Q3', 'Value': 3.354393079},
 {'LOCATION': 'UK', 'TIME': '2003-Q4', 'Value': 3.292148359},
 {'LOCATION': 'UK', 'TIME': '2004-Q1', 'Value': 3.098588932},
 {'LOCATION': 'UK', 'TIME': '2004-Q2', 'Value': 2.764085318},
 {'LOCATION': 'UK', 'TIME': '2004-Q3', 'Value': 2.004018986},
 {'LOCATION': 'UK', 'TIME': '2004-Q4', 'Value': 1.537253269},
 {'LOCATION': 'UK', 'TIME': '2005-Q1', 'Value': 1.846135126},
 {'LOCATION': 'UK', 'TIME': '2005-Q2', 'Value': 2.269018694},
 {'LOCATION': 'UK', 'TIME': '2005-Q3', 'Value': 2.900683132},
 {'LOCATION': 'UK', 'TIME': '2005-Q4', 'Value': 3.64719283},
 {'LOCATION': 'UK', 'TIME': '2006-Q1', 'Value': 3.229974446},
 {'LOCATION': 'UK', 'TIME': '2006-Q2', 'Value': 2.503161554},
 {'LOCATION': 'UK', 'TIME': '2006-Q3', 'Value': 1.776273043},
 {'LOCATION': 'UK', 'TIME': '2006-Q4', 'Value': 1.164563713},
 {'LOCATION': 'UK', 'TIME': '2007-Q1', 'Value': 1.866330607},
 {'LOCATION': 'UK', 'TIME': '2007-Q2', 'Value': 2.296422371},
 {'LOCATION': 'UK', 'TIME': '2007-Q3', 'Value': 2.927932256},
 {'LOCATION': 'UK', 'TIME': '2007-Q4', 'Value': 3.15755236},
 {'LOCATION': 'UK', 'TIME': '2008-Q1', 'Value': 2.58977639},
 {'LOCATION': 'UK', 'TIME': '2008-Q2', 'Value': 1.432620437},
 {'LOCATION': 'UK', 'TIME': '2008-Q3', 'Value': -0.856525275},
 {'LOCATION': 'UK', 'TIME': '2008-Q4', 'Value': -3.709229694},
 {'LOCATION': 'UK', 'TIME': '2009-Q1', 'Value': -6.033621752},
 {'LOCATION': 'UK', 'TIME': '2009-Q2', 'Value': -5.854582322},
 {'LOCATION': 'UK', 'TIME': '2009-Q3', 'Value': -4.281753795},
 {'LOCATION': 'UK', 'TIME': '2009-Q4', 'Value': -1.759015516},
 {'LOCATION': 'UK', 'TIME': '2010-Q1', 'Value': 1.137105205},
 {'LOCATION': 'UK', 'TIME': '2010-Q2', 'Value': 2.588061734},
 {'LOCATION': 'UK', 'TIME': '2010-Q3', 'Value': 3.102491743},
 {'LOCATION': 'UK', 'TIME': '2010-Q4', 'Value': 2.893268646},
 {'LOCATION': 'UK', 'TIME': '2011-Q1', 'Value': 2.183685052},
 {'LOCATION': 'UK', 'TIME': '2011-Q2', 'Value': 1.084296477},
 {'LOCATION': 'UK', 'TIME': '2011-Q3', 'Value': 0.6014875},
 {'LOCATION': 'UK', 'TIME': '2011-Q4', 'Value': 0.421543387},
 {'LOCATION': 'UK', 'TIME': '2012-Q1', 'Value': 0.999345315},
 {'LOCATION': 'UK', 'TIME': '2012-Q2', 'Value': 0.886711569},
 {'LOCATION': 'UK', 'TIME': '2012-Q3', 'Value': 1.983557464},
 {'LOCATION': 'UK', 'TIME': '2012-Q4', 'Value': 1.922610652},
 {'LOCATION': 'UK', 'TIME': '2013-Q1', 'Value': 1.320042991},
 {'LOCATION': 'UK', 'TIME': '2013-Q2', 'Value': 2.065175093},
 {'LOCATION': 'UK', 'TIME': '2013-Q3', 'Value': 1.567637158},
 {'LOCATION': 'UK', 'TIME': '2013-Q4', 'Value': 2.324263273},
 {'LOCATION': 'UK', 'TIME': '2014-Q1', 'Value': 3.041759965},
 {'LOCATION': 'UK', 'TIME': '2014-Q2', 'Value': 3.241603378},
 {'LOCATION': 'UK', 'TIME': '2014-Q3', 'Value': 3.252498988},
 {'LOCATION': 'UK', 'TIME': '2014-Q4', 'Value': 3.260636642},
 {'LOCATION': 'UK', 'TIME': '2015-Q1', 'Value': 2.724046353},
 {'LOCATION': 'UK', 'TIME': '2015-Q2', 'Value': 2.478264064},
 {'LOCATION': 'UK', 'TIME': '2015-Q3', 'Value': 2.143905731},
 {'LOCATION': 'UK', 'TIME': '2015-Q4', 'Value': 2.233220501},
 {'LOCATION': 'UK', 'TIME': '2016-Q1', 'Value': 2.185047622},
 {'LOCATION': 'UK', 'TIME': '2016-Q2', 'Value': 2.181574415},
 {'LOCATION': 'UK', 'TIME': '2016-Q3', 'Value': 2.192470556},
 {'LOCATION': 'UK', 'TIME': '2016-Q4', 'Value': 2.102475325},
 {'LOCATION': 'UK', 'TIME': '2017-Q1', 'Value': 2.482722829},
 {'LOCATION': 'UK', 'TIME': '2017-Q2', 'Value': 2.387746705},
 {'LOCATION': 'UK', 'TIME': '2017-Q3', 'Value': 2.463519151},
 {'LOCATION': 'UK', 'TIME': '2017-Q4', 'Value': 2.44048367},
 {'LOCATION': 'UK', 'TIME': '2018-Q1', 'Value': 1.841136146},
 {'LOCATION': 'UK', 'TIME': '2018-Q2', 'Value': 1.758723245},
 {'LOCATION': 'UK', 'TIME': '2018-Q3', 'Value': 1.799071447},
 {'LOCATION': 'UK', 'TIME': '2018-Q4', 'Value': 1.424608878},
 {'LOCATION': 'UK', 'TIME': '2019-Q1', 'Value': 1.91132407},
 {'LOCATION': 'UK', 'TIME': '2019-Q2', 'Value': 1.561445046},
 {'LOCATION': 'UK', 'TIME': '2019-Q3', 'Value': 1.617062864},
 {'LOCATION': 'UK', 'TIME': '2019-Q4', 'Value': 1.330948109},
 {'LOCATION': 'UK', 'TIME': '2020-Q1', 'Value': -1.963017842},
 {'LOCATION': 'UK', 'TIME': '2020-Q2', 'Value': -22.62740762},
 {'LOCATION': 'UK', 'TIME': '2020-Q3', 'Value': -10.32467764},
 {'LOCATION': 'UK', 'TIME': '2020-Q4', 'Value': -9.213327419},
 {'LOCATION': 'UK', 'TIME': '2021-Q1', 'Value': -7.840955875},
 {'LOCATION': 'UK', 'TIME': '2021-Q2', 'Value': 24.27407514},
 {'LOCATION': 'UK', 'TIME': '2021-Q3', 'Value': 8.455658191},
 {'LOCATION': 'UK', 'TIME': '2021-Q4', 'Value': 8.89229447},
 {'LOCATION': 'UK', 'TIME': '2022-Q1', 'Value': 10.94243572},
 {'LOCATION': 'UK', 'TIME': '2022-Q2', 'Value': 4.375819965}]

In [36]:
exported_values = list( df.T.to_dict().values() )

In [37]:
import json

In [38]:
open('my_first_json_file.json', 'w').write( json.dumps(exported_values) )

16234